:root {
  // - - - - - FONTS - - - - - //
  --base-font-family          : 'Montserrat', sans-serif;
  --base-font-size            : 20px;
  --font-size-sm              : 16px;
  --base-font-weight          : 600;
  --base-line-height          : 27px;
  --base-font-color           : #1E1E1E;
  --base-body-color           : #FFFFFF;

  // - - - - - COLORS - - - - - //
  --grey-light                : #EFEFEF;
  --main-green-color          : #06A348;
  --main-blue-color           : #6F8EF4;
  --main-orange-color         : #FF7714;
  --text-grey                 : #C4C4C4;
  --white                     : #FFFFFF;

  // - - - - - COMPONENTS SIZES - - - - - //
  --scrollbar-width           : 5px;

  // - - - - - TRANSITION - - - - - //
}
